/*
 * Function that initializes srf04 sensor
 */
static int init_sensor(srf04_t *dev)
{
    /* Fix port parameter for digital sensor */
    srf04_params_t my_params;

    /* PINS */
    my_params.trigger = GPIO_PIN( 0, {{args["trigger_pin"]}} );
    my_params.echo = GPIO_PIN( 0, {{args["echo_pin"]}} );

    /* Initialize gpio and interrupt */
    return srf04_init(dev, &my_params);
}

/*
 * Function that triggers and returns srf04 sensor measurement
 */
static char *gen_sensor_values(srf04_t dev)
{
    int dist = srf04_get_distance(&dev);

    if (dist == SRF04_ERR_INVALID)
    {
        printf("Error: No valid measurement is available\n");
        return (char*)SRF04_ERR_INVALID;
    }
    else if (dist == SRF04_ERR_MEASURING)
    {
        printf("Error: measurement is in progress\n");
        return (char*)SRF04_ERR_MEASURING;
    }
    else
    {
        printf("SRF04 values - dist: %.2f cm\n", (float)dist / 10);
        
        char *output = malloc(128);
        sprintf(output, "[Distance]: %.2f cm\n", (float)dist / 10);
        
        return output;
    }
}