void *receive_{{ peripheral_name[loop.index0] }}(void *arg)
{
    (void) arg;

    /* Name of the topic */
    char topic[32];
    sprintf(topic, "{{topic[loop.index0]}}");

    sub(topic, 0, {{ peripheral_name[loop.index0] }}_on_pub);

    return NULL;
}